
.general-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

.general-container h1, .general-container h2 {
    font-family: Arial, sans-serif;
    color: #333;
}
.general-container h1{
    text-align: center;
    font-size: 40px;
}

.general-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.general-container input[type="text"],
.general-container input[type="email"],
.general-container input[type="tel"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.general-container form {
    display: flex;
    flex-direction: column;
}
